*     {
	box-sizing: border-box;
  }
  html,
  body   {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	font-size: 16px;
  }

  body {
	background: #24252a;
	font-family: Arial, Helvetica, sans-serif;
	color: #24252A;
  } 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
  }
  
  .logo {
    cursor: pointer;
    order: 3;
    margin-left: auto;
  }
  
  nav {
    order: 1;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
    font-size: 16px;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li:nth-child(1) {
    padding: 0 20px 0 0;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #5260A2;
  }
  
  .cta {
    order: 2;
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #5260A2;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: #3e487a;
  }
   
.site-section   {
	padding-bottom: 50px;
	padding-top: 50px;
  }
  .site-section-secondary   {
	background: #EFEFEF;
  }
  .site-section-inside   {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
  }
  .section-header {
	align-content: center;
	text-align: center;
	margin-bottom: 30px;
  }
  .section-header h2  {
	font-size: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 300;
	color: rgb(255, 255, 255);
  }

  .section-header h3  {
	font-size: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 300;
	color: #24252A
  }
  
  /* feature boxes */
  .feature-box  {
	display: inline-block;
	align-content: center;
	width: 30%;
	padding: 20px 30px;
	background: white;
	border-radius: 5px;
	margin-bottom: 20px;
	margin-left: 5px;
	margin-right: 5px;
  }

  .feature-box img  {
	margin-bottom: 12px;
	width: 80px;
  }
  .feature-box h5   {
	font-size: 20px;
	color: #5260A2;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 2px;
	margin: 0;
  }
  
/* testimonial boxes */
.testimonial-box   {
	display: inline-block;
	width: 33%;
	padding: 20px 30px;
  }
  .testimonial-content   {
	background: #FFF;
	padding: 15px;
	border-radius: 4px;
	margin-bottom: 15px;
  }

  .testimonial-author img {
	float: left;
	width: 80px;
	border-radius: 50%;
	margin-right: 15px;
	vertical-align: middle;
  }
  .testimonial-author h5   {
	font-size: 18px;
	margin: 0;
	padding-top:15px;
	color: #5260A2;
  }
  .testimonial-author span {
	font-size: 14px;
  }